<!DOCTYPE html>
<html lang="en">
<head>
  <title>Save the Planet</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
  <!--===============================================================================================-->
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="./css/util.css">
  <link rel="stylesheet" type="text/css" href="./css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
  <!--===============================================================================================-->
</head>
<body>

  <div class="jumbotron" style="background-color:white">
    <h1 class="display-3" style="text-align:center"><img src="logo.png" height="130px"></img></h1>
    <h1 class="display-3" style="text-align:center"><b>Save the Planet !</b></h1>
    <br>
    <p class="lead" style="text-align:center; color:#009688; marging:0px; font-size:25px">This is a proof-of-concept for a web-app that allows users to visualize the positive impacts of the environment-friendly
       choices they make in their daily lives (in this case, using public transport and/or recycling/reusing paper) and further motivates them to continue making such choices.</p>
  </div>
  <div class="container-contact100">
    <div class="wrap-contact100 anim2">
      <form action = "" class="contact100-form validate-form" method = "post">

        <div class="wrap-input100 input100-select">
          <span class="label-input100">Miles travelled via public transport / walking</span>
          <div>
            <input id = "miles" class="input100" type="number" name="miles" value="0"> </input>
            <span class="focus-input100"></span>
          </div>
        </div>

        <div class="wrap-input100 input100-select">
          <span class="label-input100">Sheets of paper saved / recycled</span>
          <div>
            <input id = "paper" class="input100" type="number" name="paper" value="0"> </input>
            <span class="focus-input100"></span>
          </div>
        </div>

        <div class="container-contact100-form-btn">
          <div class="wrap-contact100-form-btn">
            <div class="contact100-form-bgbtn"></div>
            <button type = "submit" class="contact100-form-btn">
              <span>
                Submit
                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
              </span>
            </button>

          </div>
        </div>
      </form>
    </div>
  </div>



  <div id="dropDownSelect1"></div>

  <!--===============================================================================================-->
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/bootstrap/js/popper.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/select2/select2.min.js"></script>
  <script>
  $(".selection-2").select2({
    minimumResultsForSearch: 20,
    dropdownParent: $('#dropDownSelect1')
  });
</script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
