<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Elements</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">



</head>

<body>

<h1 class="ultimate-header">You prevented : </h1>
  <div class="container">
<div class="card text-white bg-primary mb-3 d-inline-block marg" style="max-width: 20rem;">
  <div class="card-header main-header">Wastage of</div>
  <div class="card-body">
    <h1 class="card-title main-number">69.69</h1>
    <div class="main-unit">gallons of</div>
  </div>
  <div class="card-header main-header hoverable"><span class="normal">Mouse over me!</span><span class="hover">Water</span><i class="em em-droplet"></i></div>
</div>

<div class="card text-white bg-success mb-3 d-inline-block marg" style="max-width: 20rem;">
  <div class="card-header main-header">Cutting of</div>
  <div class="card-body">
    <h1 class="card-title main-number"  style = "font-size: 110px" >69.69</h1>
  </div>
  <div class="card-header main-header">Trees<i class="em em-evergreen_tree"></i></div>

</div>
<div class="card text-white bg-dark mb-3 d-inline-block marg" style="max-width: 20rem;">
  <div class="card-header main-header">Emissions of</div>
  <div class="card-body">
    <h1 class="card-title main-number">69.69</h1>
    <div class="main-unit">lb of</div>
  </div>
  <div class="card-header main-header">CO<sub>2</sub><i class="em em-cloud"></i></div>
</div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script  src="js/result.js"></script>

</body>

</html>
