html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {

  font-family: 'helvetica', sans-serif;
  font-size: 16px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* background: -webkit-linear-gradient(#11998e, #38ef7d);
  background: -o-linear-gradient(#11998e, #38ef7d);
  background: -moz-linear-gradient(#11998e, #38ef7d);
  background: linear-gradient(#11998e, #38ef7d); */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
}
.centering{margin: auto; max-width: 300px;}
.main-header{
  font-family: 'helvetica', sans-serif;
  font-size: 30px;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: white;
}

.ultimate-header{
  font-family: 'helvetica', sans-serif;
  font-size: 100px;
  text-align: center;
  color: Black;
  margin-top: 5%;
  margin-bottom: 0px;
}

.main-unit{
  font-family: 'helvetica', sans-serif;
  font-size: 20px;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: white;
}

.main-number{
  font-family: 'helvetica', sans-serif;
  font-size: 80px;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: white;
}

@keyframes example {
  from {opacity: 0.0;}
  to {opacity: 1;}
}

.containerAni {
  position: relative;
  width: 50%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: blue;
  border-radius: 15px;
}
cite {
  font-style: normal;
}
.quote {
	margin: 30px;
	text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.line-through {
	display: block;
	position: relative;
	border-bottom: 2px solid black;
	height: 15px;
}
.line-through span {
	position: absolute;
	display: inline-block;
	background: white;
	width: 200px;
	margin-left: -100px;
	line-height: 30px;
}
/* .stripe-border {
	background: linear-gradient(
		to bottom,
		black,
		black 25%,
		white 25%,
		white
	);
	background-size: 100% 8px; */
}
.stripe-border blockquote {
  background:White;
	margin: 0 10px;
	padding: 30px;
	font-size: 18px;
  font-size: 24px;
  line-height: 1.5;
}
.overlayFont{
  font-family: 'helvetica', sans-serif;
  font-size: 30px;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: white;
  margin-top: 23%;
  margin-left: 10%;
  margin-right: 10%;
}

.containerAni:hover .overlay {
  opacity: 0.9;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  min-height: 60%;
  margin: 0px;
  padding: 0%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  animation-name: example;
  animation-duration: 1s;
}
.marg{
  margin: 20px;
  border-radius: 15px !important;
}

.element-card {
  position: relative;
  width: 30%;
  height: auto;
  min-height: 250px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotatey(0deg) translatex(0px) translatey(0px);
  transform: rotatey(0deg) translatex(0px) translatey(0px);
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin: 20px;
  cursor: pointer;
}
/* .element-card:hover {
  -webkit-transform: rotatey(45deg) translatex(0px) translatey(0px);
  transform: rotatey(45deg) translatex(0px) translatey(0px);
} */
.element-card.open {
  width: 30%;
  height: auto;
  min-height: 250px;
  -webkit-transform: rotatey(-180deg) translatex(0px) translatey(0px);
  transform: rotatey(-180deg) translatex(0px) translatey(0px);
}
.element-card .front-facing {
  -webkit-transform: rotateY(0deg) translateZ(2px);
  transform: rotateY(0deg) translateZ(2px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ecf0f1;
  border-radius: 20px;
}
.element-card .front-facing .abr {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 42px;
  margin: -35px 0 0 0;
  text-align: center;
  color: #3498db;
}

.element-card .front-facing .carbon {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 0;
  font-size: 42px;
  margin: -35px 0 0 0;
  text-align: center;
  color: #3498db;
}

.element-card .front-facing .water {
  width: 100%;
  position: absolute;
  top: 35%;
  left: 0;
  font-size: 42px;
  margin: -35px 0 0 0;
  text-align: center;
  color: #3498db;
}

.element-card .front-facing .tree {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 0;
  font-size: 42px;
  margin: -35px 0 0 0;
  text-align: center;
  color: #3498db;
}

.element-card .front-facing .title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  text-transform: uppercase;
  font-size: 12px;
  margin: 15px 0 0 0;
  text-align: center;
  color: #3498db;
}

.element-card .front-facing .treeTitle {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  text-transform: uppercase;
  font-size: 16px;
  margin: 15px 0 0 0;
  text-align: center;
  color: #3498db;
}

.element-card .front-facing .treeTitle2 {
  width: 100%;
  position: absolute;
  top: 70%;
  left: 0;
  text-transform: uppercase;
  font-size: 16px;
  margin: 15px 0 0 0;
  text-align: center;
  color: #3498db;
}

.element-card .front-facing .atomic-number {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: #2980b9;
}
.element-card .front-facing .atomic-mass {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #2980b9;
}
.element-card .back-facing {
  -webkit-transform: rotateY(180deg) translateZ(0px);
  transform: rotateY(180deg) translateZ(0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ecf0f1;
  border: 2px white solid;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}
.element-card .back-facing p {
  font-size: 14px;
  margin: 0;
}
.element-card .back-facing a.btn {
  display: inline-block;
  background-color: white;
  padding: 5px 15px;
  margin: 20px 0 0 0;
  color: #eee;
  background-color: #3498db;
  text-decoration: none;
  border-radius: 3px;
}
.element-card .back-facing a.btn:hover, .element-card .back-facing a.btn:focus {
  color: #fff;
  background-color: #2980b9;
}
